In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("house_price (3).csv")
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT.MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0

In [6]:
df.drop(labels="CAT.MEDV",axis=1,inplace=True)

In [10]:
X = df.drop(labels='MEDV',axis=1)
y = df["MEDV"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 6242)

In [16]:
from sklearn.linear_model import LinearRegression
#lr_skl 변수에 LinearRegression()을 저장하세요.
Lr_skl = LinearRegression()
#방금 나눈 데이터중 train데이터를 fit시켜주세요.
Lr_skl.fit(X_train, y_train)
#이번에는 test데이터를 이용해 predict을 하고 그 결과를 y_pred_skl변수에 저장하세요
y_pred_skl=Lr_skl.predict(X_test)
#결과 확인
y_pred_skl

array([13.12193014, 39.08925246, 21.13230084, 35.3080449 , 24.71751901,
       25.09879081, 19.51119182, 33.59695303, 16.18317393, 21.26510381,
       16.26668157, 19.28459473, 32.02792306,  2.85816126, 11.93739785,
       25.0241486 , 14.35017584, 36.3728363 , 30.60467334, 31.41474022,
       29.19867635, 21.11140502, 10.87728685, 24.40001158, 24.77247485,
       27.59631762, 20.03258987, 23.61349806, 29.77477539, 18.48840175,
       21.43849052, 19.35933904, 20.48983552, 23.11758778, 21.73283317,
        6.68686802, 19.81156443, 27.71551958, 13.8941441 , 19.19762262,
       15.40945584, 33.17042665, 22.3999474 , 22.28974275, 18.52414817,
       36.22878602, 19.60069533, 29.4929622 ,  0.81387171, 37.61019104,
       18.26031195, 23.86790417, 34.68776757, 36.49646959, 22.39070777,
       24.0290029 , 29.07300529, 13.21347249, 16.71527807, 27.50572015,
       30.56677223, 35.16851233, 17.71948445, 34.38066522, 13.0732073 ,
       21.3884041 , 25.69061803, 20.16212795, 29.09282198, 34.69028362,
       17.0881104 , 23.58114449, 19.00567275, 20.05809971, 18.83718011,
       21.2715959 , 26.78435518, 23.94799121, 28.96746158, 25.90088332,
       27.21912783, 20.55913359, 20.2834787 , 33.75156659, 11.51282352,
       19.11665666, 11.45945378, 23.98560476, 19.17488437, 28.92723841,
        6.53803774, 17.85766425, 18.62648897, 29.41034527, 16.65743444,
       17.78701672, 16.62220631, 23.23938229, 22.01460908, 15.84975739,
       44.90065333, 22.70999149])

In [18]:
test_mse_skl = mean_squared_error(y_test, y_pred_skl) # 실측/예측값
test_mae_skl = mean_absolute_error(y_test, y_pred_skl)
test_r2_skl = r2_score(y_test, y_pred_skl)

print("MSE : ", test_mse_skl)
print("MAE : ", test_mae_skl)
print("R^2 : ", test_r2_skl)

MSE :  16.081651473821594
MAE :  2.923718376936397
R^2 :  0.769196463451416